@model IEnumerable<App.Models.Movimiento.EstadoCuentaViewModel>

@{
    ViewData["Title"] = "Estado de cuenta";
}

<h1>Estados de cuenta</h1>

<form asp-controller="Home" asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group mb-2">
                <label class="control-label">Cliente</label>
                <select name="ClienteId" asp-items="@ViewBag.Clientes" class="form-control">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-2">
                <label class="control-label">Fecha Inicio</label>
                <input name="FechaInicio" type="date" class="form-control" value="@ViewBag.FechaInicio?.ToString("yyyy-MM-dd")"/>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mb-2">
                <label class="control-label">Fecha Fin</label>
                <input name="FechaFin" type="date" class="form-control" value="@ViewBag.FechaFin?.ToString("yyyy-MM-dd")"/>
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoDisponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaldoInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaldoDisponible)
                </td>
            </tr>
        }
    </tbody>
</table>
